<nav class="navbar is-warning is-hovered">
<ul class="navbar-menu field is-grouped">
  <li class="navbar-item control" *ngFor="let link of links"> 
    <a class="button is-rounded is-primary" [routerLink]="link.url">{{link.label}} </a>
  </li>
</ul>
</nav>