<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
<tr>
  <th>Description</th>
  <th>Price</th>
  <th>Category</th>
</tr>
  </thead>
<tbody class="field">
<tr class="control" *ngFor="let item of list">
  <td> {{item.label}} </td>
  <td> {{item.price}} </td>
  <td class="select" > 
    <select>
      <option value="item.category">{{item.category}}</option>
    </select> 
  </td>
</tr>
</tbody>
</table>
